.greenkey{
    width: 1440px;
    padding: 50px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}
.greenkey>h2{
    padding-bottom: 30px ;
    font-size: 34px;
}
.green_img{
    display: flex;
    padding-top: 50px;
    gap: 20px;
}
.key>div{
    display: flex;
    padding-left: 230px;
}
.key p{
    padding-left: 50px;
    padding-top: 70px;
}
.key span{
    font-weight: bold;
    color: #0066FF;
}
.page{
    width: 400px; height: 50px;
    background-color: #37AA03;
    text-align: center;
    position: relative;
    left: 800px; bottom: 150px;
    box-sizing: border-box;
    border-radius: 50px 50px;
}
.page h4{
    color: white;
    padding-top: 15px;
}
.greenkey_txt{
    width: 1440px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 10px;
} 
.greenkey_txt h3{
    padding-bottom: 30px;
}

.g_bodyimg{
    display: block;
    text-align: center;
}
.g_bodyimg img{
    display: inline;
    padding: 100px;
}
.tour{
    width: 1320px;
    margin: 0 auto;
    background-color: white;
}
.tour>article{
    display: flex;
    gap: 20px;
}
.g_trip{
    flex: 1; 
    background-color: whitesmoke;
}
.g_trip img{
    width: 100%; 
}
.g_trip h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.g_trip h4{
    /* padding: 0 30px; */
    text-align: center;
    color: #8a8b8b;
}
.g_trip p{
    text-align: center;
    padding-top: 10px;
}


.tour2{
    width: 1320px;
    margin: 0 auto;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 200px;
    
}
.tour2>article{
    display: flex;
    gap: 20px;
}
.tour2 img{
    width: 426px; height: 312px;
    
}
.tour3{
    width: 1320px;
    margin: 0 auto;
    background-color: white;
    margin-top:-150px;
    padding-bottom: 200px;
}
.tour3>article{
    display: flex;
    gap: 20px;
}
.tour3 img{
    width: 426px; height: 312px;
}